@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');











body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background-color: #0F172A;
    color: white;
    /*height: 1600px;*/
    overflow: hidden; /* Hide the scroll bar */
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-y: scroll; /* Allows scrolling but hides scrollbar */
    scrollbar-width: none; /* For Firefox */
}

body::-webkit-scrollbar
 {
    display: none; /* For Chrome, Safari, and Edge */
}

html {
    scroll-behavior: smooth;
}


header {
    background-color: #0a1e2d;
    padding: 20px 0;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a
{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
   
}


.member-button{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
}

.member-button {
    background-color: hsl(210, 4%, 9%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    margin: 0;
}

.about-us-content-wrap {
    max-width: 1000px;
    background-color: #1E293B;
    padding: 40px;
    margin: auto;
    margin-top: 50px;
    height: fit-content;
    border-radius: 12px;
}

.about-us-image-wrap {
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 16px;
    border: 5px #5C6472 solid;
}

.about-us-image-wrap img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transform: scale(1.02);
    transition: all 0.4s;
}

.about-us-image-wrap img:hover {
    transform: scale(1.04);
}

.about-us-content-container {
    margin-top: 80px;
    padding-inline: 80px;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 60px;
}



.about-us-left-wrap {
    padding-right: 5px;
}

.left-wrap-text {
    font-size: 32px;
    color: white;
    margin-bottom: 42px;
}

.left-wrap-text h1 {
    margin: 0;
    letter-spacing: 0.1px;
}

.left-wrap-text p {
    font-size: 20px;
    line-height: 36px;
    color: #94A3B8;
}

.left-wrap-buttons {
    margin-bottom: 4em;
}

.left-wrap-buttons button {
    padding: 15px 40px;
    margin-right: 20px;
    border: none;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    height: 60px;
    font-size: 20px;
    background-color: hsl(0, 0%, 0%);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.left-wrap-buttons .register {
    background-color: white;
    color: #0EA5E9;
    border: 1.2px #0EA5E9 solid;
}

.left-wrap-icons {
    display: flex;
    justify-content: space-between;
}

.feature img {
    height: 88px;
    margin-bottom: 1rem;
}

.feature p {
    font-size: 20px;
    margin-bottom: 0;
}

.feature h3 {
    margin-top: 0.5rem;
    font-size: 24px;
}
/* For mobile responsiveness */
@media (max-width: 768px) {
    .about-us-content-container {
        grid-template-columns: 1fr;
        padding-inline: 0px;
        gap: 40px;
    }
    .about-us-image-wrap{
        border: 7px;
        overflow: visible;
        margin: 0;
    }
    .about-us-image-wrap img{
        transform: scale(1.2);
        border-radius: 0;
    }
    .about-us-left-wrap {
        padding-right: 0;
    }

    .left-wrap-text {
        font-size: 24px;
        text-align: center;
        margin-bottom: 40px;
    }

    .left-wrap-text p {
        font-size: 16px;
        line-height: 30px;
    }

    .left-wrap-buttons{
        display: flex;
        justify-content: center;
        gap: 20px;
        

        
    }
    .left-wrap-buttons button {
        text-align: center;
        font-size: 13px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .left-wrap-icons {
        flex-direction: column;
    }
    .feature{
        text-align: center;
        margin-bottom: 2em;
    }
    .feature img {
        height: 60px;
    }

    .feature h3 {
        font-size: 20px;
    }

    .feature p {
        font-size: 18px;
    }
}
.scroll-button {
    position: fixed;
    right: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: hsl(180, 2%, 9%);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.scroll-up {
    bottom: 80px;
}

.scroll-down {
    bottom: 20px;
}

.scroll-button:hover {
    background-color: #2a333b;
}