.home-main {
    margin: 0;
    background-color: #0B1120;
    background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0.02) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
    background-blend-mode: lighten;
    background-size: 3rem 3rem;
    height: 95vh;
    width: 100vw;
    overflow-x: hidden;
}

.navbar {
    padding: 40px 5% 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.acm-logo {
    width: 8em;
    max-width: 100%;
    height: auto;
}
.nav-toggle{
    display: none;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 0;
    flex-wrap: wrap;
}
/* sidebar */
.nav-links-sidebar{
        position: fixed;
        top: 0; 
        right: 0;
        height: 100vh;
        width: 250px;
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(12px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        list-style: none;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0;
        padding: 5% 5%;     
        /* transform: translateX(100%); */
        /* transition: transform 1s ease; */
}


.nav-links-sidebar li{
    width: 100%;
    margin-bottom: 10px;
  }
/* .nav-links-sidebar li:active{
    background-color: #297FAB;
  } */

.nav-links-sidebar li:first-child{
    margin-bottom: 20px;
    svg{
        fill: white;
    }
  }
  .nav-links-sidebar a{
    text-decoration: none;
    color: #E2E8F0;
    font-family: "Inter", sans-serif;
    font-size: 20px;

  }
  .menu-button{
    display: none;
    
    svg{
        fill: white;
    }
  }
  
/* sidebarend */
.nav-links li a {
    text-decoration: none;
    color: #E2E8F0;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    transition: text-decoration 0.3s, text-underline-offset 0.3s;
}
.member-btn-wrap{
    display: flex;
    align-items: center;
    gap: 20px ;

}
.member-button, .home-join {
    padding: 3% 24px;
    border: 2px solid #297FAB;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-size: clamp(18px, 2vw, 24px);
    background-color: #19405D;
}
.member-button:hover{
    background-color:#2980abb4 ;
    color: white;
    transition: background-color 0.15s ease;
}
.mem-btn-body{
    display: none;
}
.home-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-left-wrap {
    width: 100%;
    max-width: 600px;
}

.home-title h1 {
    font-size: clamp(52px, 5vw, 72px);
    line-height: 1.3;
    color: #2eb9ff;
}
.home-title{
    margin-bottom: 2em;
}

.home-p p {
    font-size: clamp(18px, 3vw, 26px);
    line-height: 1.5;
    color: #ffffffc0;
}

.home-register {
    margin: 3em 0;
}

.home-right-wrap {
    display: flex;
    width: 100%;
    max-width: 500px;
    align-items: start;
    justify-content: center;
}

.home-right-wrap svg {
    width: 100%;
    height: auto;
    max-width: 500px;
}

@media only screen and (max-width: 768px) {
    .home-main{
        /* height: 70vh; */
        height: 40%
       

    }
    .navbar {
        padding: 20px 5%;
        margin-bottom: 2em;
    }
    .acm-logo{
        width: 40%;
        min-width: 1em;
    }
    .nav-links {
        display: none;
    }
    .nav-toggle {
        display: block;
    }
    .hideOnMobile{
        display: none;
      }
      .menu-button{
        display: block;
      }
    .member-button, .home-join {
        padding: 16px 24px; 
    }
    .mem-btn-body{
        display: inline-block;
        }
    .mem-btn-head{
        display: none;
    }
    .member-btn-wrap{
        margin-top: 2em;
        padding-right: 5%;
    }
    .home-container {
        flex-direction: column;
        padding: 0 10%;
        margin: 0;
    }

    .home-left-wrap, .home-right-wrap {
        width: 100%;
        max-width: none;
    }

    .home-right-wrap {
        margin-top: 2em;
    }
}
@media(max-width: 400px){
    .nav-links-sidebar{
      width: 100%;
    }}